html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif
}
body {
    background-color: #cfd2c6;
    display: flex;
    flex-direction: column;
}

body .wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    height: 80px;
}
header .mail--info {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.mail--info div:nth-child(2) {
    font-weight: bold;
}
.mail--info div {
    padding-bottom: 10px;
}
.mail--info div:last-of-type {
    padding: 0;
}
.mail--info span {
    margin-right: 5px;
    text-align: right;
    width: 30px;
    display: inline-block;
    color: #878a85;
    font-weight: normal;
}
.mail--info .star {
    width: unset;
    cursor: pointer;
}

.mail--actions button {
    font-size: 10px;
    cursor: pointer;
    color: #000000;
    outline: none;
    background-color: #dfdfdf;
    margin: 2px;
}

.mail--actions button span {
    padding-right: 2px;
    width: 12px;
    height: 12px;
}

.mail {
    width: 920px;
    height: 530px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

/* central content */
.mail--content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #2f2f2f;
}
.mail--content .top {
    display: flex;
    justify-content: space-around;
}
.top .image {
    background-size: contain;
    background-repeat: no-repeat;
    align-self: flex-end;
}
.image.cat--image {
    width: 170px;
    height: 160px;
    background-image: url("./assets/images/cat.png");
}
.top .text {
    text-align: center;
}
.top .text p:first-of-type {
    font-style: italic;
}
.top .text p:last-of-type {
    color: #6d7538;
}

.center {
    display: flex;
    justify-content: center;
}
.center .text {
    text-align: center;
}
.center .text p:nth-child(2) {
    font-size: 13px;
}

.bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.bottom div:first-child {
    flex: 1;
}
.bottom button {
    cursor: pointer;
    font-size: 14px;
    padding: 0 20px;
    border-radius: 5px;
    outline: none;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #e65f1d;
    height: 40px;
}

.bottom .stars--say {
    color: #6d7538;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 12px;
}

.stars--say .leaf {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-image: url("./assets/images/leaf.png");
}

.stars--say span {
    text-transform: uppercase;
    color: #7f8a35;
    font-weight: bold;
}

.image.shoes--image {
    width: 145px;
    height: 175px;
    background-image: url("./assets/images/shoes.png");
}

/* footer with logos */
.mail--footer {
    height: 80px;
    background-color: #e3e3e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mail--footer .logo {
    width: 125px;
    height: 31px;
    background-size: contain;
    background-repeat: no-repeat;
   
}
.logo.qa--test--lab {
    background-image: url("./assets/images/logo.png");
    margin-left: 30px;
}
.logo.web100 {
    background-image: url("./assets/images/web100.png");
}
.mail--footer .thanks--to--you {
    color: #5a5a5a;
}